<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 
  <div class="about content">
    <h2>About Us</h2>
      <p>This website is for everyone to post there Blogs here for free. This website was made by Sparsh Mittal.</p>
  </div>
</body>
<%- include('./partials/footer.ejs')  %> 
</html>